/* === Thème sombre pour Highlightr === */
.theme-dark mark.hltr-jaune {
  background-color: #b59f3b !important;
    color: #f1f1f1 !important; /* texte clair car fond foncé */

}

.theme-dark mark.hltr-vert {
  background-color: #3b7d3b !important;
  color: #f1f1f1 !important; /* texte clair car fond foncé */
}


.theme-dark mark.hltr-blue {
  background-color: #355c7d !important;
  color: #f1f1f1 !important;
}

.theme-dark mark.hltr-rose {
  background-color: #8e3b6b !important;
  color: #f1f1f1 !important;
}

.theme-dark mark.hltr-orange {
  background-color: #a65e2e !important;
  color: #f1f1f1 !important;
}

.theme-dark mark.hltr-rouge {
  background-color: #7d2f2f !important;
  color: #f1f1f1 !important;
}
