:root * {
--callout-border-radius: 10px;
}

.admonition {
box-shadow: none;
}



.callout:not(.admonition).drop-shadow {
    box-shadow: none;
}

.markdown-rendered .callout-title:hover{
cursor:pointer;
}

.markdown-source-view.mod-cm6 .callout,
.markdown-preview-view .callout {
  border-radius: var(--callout-border-radius);
}

/* Ne retirer contain que pour les widgets non-éditables qui contiennent un callout */
.markdown-source-view.mod-cm6 .cm-content > [contenteditable="false"]:has(.callout) {
  contain: unset !important;
}





