:root * {
    --b3-card-error-color: #790600;
    --b3-card-error-background: #f5d1cf;
    --b3-card-warning-color: #b16700;
    --b3-card-warning-background: #ffe8c8;
    --b3-card-info-color: #005599;
    --b3-card-info-background: #d6eaf9;
    --b3-card-success-color: #008606;
    --b3-card-success-background: #d7eed8;
    --b3-border-radius: 6px;
}

.sr-response-button {
    border-radius: var(--b3-border-radius);
border: 1px solid  transparent;
transition: 200ms ease all;
}

.sr-bg-red {
    background-color: var(--b3-card-warning-background) !important;
color: var(--b3-card-warning-color) !important;
box-shadow: none !important;
}

.sr-deck-list .sr-tree-item-row:hover .sr-bg-red, .sr-response-button.sr-bg-red:hover {
    background-color: var(--b3-card-warning-background) !important;
border: 1px solid var(--b3-card-warning-color) !important;
}

.sr-bg-blue {
    background-color: var(--b3-card-info-background) !important;
color: var(--b3-card-info-color) !important;
box-shadow: none !important;
}

.sr-deck-list .sr-tree-item-row:hover .sr-bg-blue, .sr-response-button.sr-bg-blue:hover {
    background-color: var(--b3-card-info-background) !important;
border: 1px solid var(--b3-card-info-color) !important;
}

.sr-bg-green {
    background-color: var(--b3-card-success-background) !important;
color: var(--b3-card-success-color) !important;
box-shadow: none !important;
}

.sr-deck-list .sr-tree-item-row:hover .sr-bg-green, .sr-response-button.sr-bg-green:hover {
    background-color: var(--b3-card-success-background) !important;
border: 1px solid var(--b3-card-success-color) !important;
}


/**** MENU DE SELECTION DU DECK****/

/* Texte différent selon la couleur de fond */
.sr-tree-stats-count.sr-bg-green { 
  color: var(--b3-card-success-color) !important; 
}

.sr-tree-stats-count.sr-bg-blue  { 
  color: var(--b3-card-info-color) !important; 
}

.sr-tree-stats-count.sr-bg-red   { 
  color: var(--b3-card-warning-color) !important; 
}

.sr-deck-list .sr-tree-item-row:hover .sr-tree-stats-count {
  border: none !important;
}

.sr-deck-list .sr-tree-item-row:hover {
cursor: pointer !important;
}


/* Emojis par couleur */
.sr-response > button.sr-response-button.sr-bg-red:not(.sr-show-answer-button)::before{
  content:"🙈";
}
.sr-response > button.sr-response-button.sr-bg-blue:not(.sr-show-answer-button)::before{
  content:"👌";
}
.sr-response > button.sr-response-button.sr-bg-green:not(.sr-show-answer-button)::before{
  content:"😏";
}
.sr-response > button.sr-response-button:not(.sr-show-answer-button)::before{
  font-size: 1.5em !important;
  line-height: 2 !important;
}



