/* Preview (reading) */
.markdown-preview-view.hide-title .inline-title{
  display: none !important;
}

/* Édition (Live Preview / Source) */
.markdown-source-view.hide-title .inline-title,
.workspace-leaf-content.hide-title .inline-title{
  display: none !important;
}


/*Hide icon title*/

.hide-icon-title .inline-title,
.hide-icon-title .npis-inline-title-parent[data-npis-title-wrapper="1"] {
  display: none !important;
}